*{
	border-radius: 3px;
	border: none;
}


window {
	font-size: 16px;
	font-family: "FiraCode Nerd Font";
	background-color: rgba(50, 50, 50, 0.9);
	color: white;
	border-bottom: 3px solid rgba(50, 50, 50, 0.9);
}

#entry:selected {
	background-color: #bbccdd;
	background: linear-gradient(90deg, #87CEEB, #FFFFFF);
}

#text:selected {
	background: none;
	color: #333333;
}
